extends layout

block content
  .index-page
    div#name-signature.centered-fixed
        div.animated.animated.zoomIn
            div.centered-text
              img.avatar-img(src="/images/avatar.png")
            div.centered-text
              h1 #{title}
              p Back-End Developer ^_^
              p Back Soon
            div.contact
              ul.nav
                  li
                      a(href="mailto:s2003zy@gmail.com") Mail
                  li
                      a(href="https://github.com/s2003zy") Github
                  li
                      a(href="http://weibo.com/songzy982") Weibo

