extends layout

block content
  div#name-signature.centered-fixed
      div.animated.animated.zoomIn
          div.centered-text
            img.avatar-img(src="/images/avatar.png")
          div.centered-text
            h1 #{title}
            p Back-End Developer ^_^
            p Back Soon
            p Email : s2003zy#gmail.com

