doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/lib/animate.min.css')
  body
    block content