extends layout

block content
  .main-page
    .header
      .nav-header-container
        .header-wapper
          .avatar
            img.avatar-img(src="/images/avatar.png")
          .subtitle
            h4 送只羊
            a(href="http://www.s2003zy.com")
              | Order & Chaos
    .content
      p this is body
    .footer
      p email

