/**** common style ****/

.right {
    float: right;
}

.centered-fixed {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-text {
    text-align:center;
}

.avatar-img{
    width:63px;
    height:63px;
    border-radius:50px;
}

.back-ground{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url("/images/img-header.jpg");
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);

}

body {
    background-color: black;
    margin: 0;
}


/**** main page style ****/

.main-page {
    text-align: center;
}

/**** page container ****/

.page-container {
    position: relative;
}

/**** header page style ****/

.header {
    position:relative;
    height: 200px;
}

.header .header-wapper {
    position: absolute;
    margin: auto;
    left: 0; bottom: 0px; right: 0;
}

.header a {
    color: #ffffff;
    font-size: 22px;
}

.header h4 {
    font-size: 26px;
    color: #ffffff;
}
/**** content page style ****/

.content {
    background-color: pink;
}


/**** footer page style ****/

.footer {
    background-color: maroon;
}


/**** index page style ****/

#name-signature {
    font-family: 'Dancing Script', cursive;
}

.index-page h1 {
    font-size: 50px;
}

.index-page p {
    font-size: 28px;
}

.index-page a {
  color: #00B7FF;
}

.index-page .contact .nav li{
    font-size: 25px;
    padding: 8px 15px;
    list-style: none;
    float: left;
    color:#fff;
}