/**** common style ****/

.right {
    float: right;
}

.centered-fixed {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-text {
    text-align:center;
}

.avatar-img{
    width:63px;
    height:63px;
    border-radius:50px;
}

body {
    background-color: #ffffff;
    margin: 0;
}


/**** main page style ****/

.main-page {
    text-align: center;
    background-color: blue;
}

/**** header page style ****/

.header {
    position:relative;
    height: 370px;
    background-image: url("/images/img-header.jpg");
    background-position: center 35%;
}

.header .header-wapper {
    position: absolute;
    margin: auto;
    left: 0; bottom: 35px; right: 0;
}

.header a {
    color: #ffffff;
    font-size: 22px;
}

.header h4 {
    font-size: 26px;
    color: #ffffff;
}
/**** content page style ****/

.content {
    background-color: pink;
}


/**** footer page style ****/

.footer {
    background-color: yellow;
}


/**** index page style ****/

#name-signature {
    font-family: 'Dancing Script', cursive;
}

.index-page h1 {
    font-size: 50px;
}

.index-page p {
    font-size: 28px;
}

.index-page a {
  color: #00B7FF;
}

.index-page .contact .nav li{
    font-size: 25px;
    padding: 8px 15px;
    list-style: none;
    float: left;
    color:#fff;
}